@import '~@angular/material/theming';
@include mat-core();

$avispones2-primary: mat-palette($mat-amber);
$avispones2-accent: mat-palette($mat-green, A200, A100, A400);
$avispones2-warn: mat-palette($mat-red);

$avispones2-theme: mat-dark-theme($avispones2-primary, $avispones2-accent, $avispones2-warn);

@include angular-material-theme($avispones2-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #333; }
@keyframes fadeIn {
    from { opacity: 0; }
}
* { animation: fadeIn 0.3s; }