<form [formGroup]="teamScore" (ngSubmit)="updateScore()">
    <mat-form-field class="field" color="primary">
        <input type="text" maxlength="20" matInput placeholder="Nombre" formControlName="name" required>
    </mat-form-field>
    <mat-form-field class="field" color="primary">
        <input type="number" min="0" max="99" matInput placeholder="Marcador" formControlName="score" required>
    </mat-form-field>
    <button type="submit" mat-button color="accent">
        Actualizar
    </button>
</form>