<form [formGroup]="scoreForm" (submit)="updateScore()">
    <mat-form-field>
        <input type="number" min="1" max="4" matInput placeholder="Down" formControlName="down" required (keyup)="updateScore()">
    </mat-form-field>
    <mat-form-field>
        <input type="number" min="0" max="99" matInput placeholder="To go" formControlName="toGo" required (keyup)="updateScore()">
    </mat-form-field>
    <mat-form-field>
        <input type="number" min="0" max="50" matInput placeholder="Ball on" formControlName="ballOn" required (keyup)="updateScore()">
    </mat-form-field>
    <mat-form-field>
        <input type="number" min="1" max="4" matInput placeholder="QTR" formControlName="qtr" required (keyup)="updateScore()">
    </mat-form-field>
</form>